@media (min-width: 769px) {
.buttonTop {
    display:none;
    }
}

.buttonTop a {
    color:white !important;
    text-decoration:none;
   
}

.buttonTop {
    margin-top: 10px;    
}

a.navbar-brand{
    color:white !important;
}











